.c-{
	&todo{
		&-new{
			display: grid;
			grid-template-columns: 1fr;
			width: 100%;
			min-height: 3rem;
			&--input{
				width: 100%;
				padding: 1rem;
				border: 0;
				outline:  none;
				background-color: rgba(black, 0.003);
				box-shadow: inset 0 -2px 1px rgba(black, 0.03);
				font-size: 2.5em;
				&::-webkit-input-placeholder {
					font-style: italic;
					font-weight: 300;
					color: var(--color_4);
				}
			}
		}
	}
}
